{% extends 'base.html.twig' %}

{% block title %}New JobCategory{% endblock %}

{% block body %}
    <h1 style="padding-bottom:2rem; padding-top:10rem; background-color: #2F3138;text-align: center; color:white;margin-top:0">Create new JobCategory</h1>

    {{ include('job_category/_form.html.twig') }}

    <a href="{{ path('job_category_index') }}">back to list</a>
{% endblock %}
